@charset 'utf-8';
@font-face {
	font-family: PixelMplus10-Regular;
	src: url('../fonts/PixelMplus10-Regular.ttf') format("truetype");
}
@font-face {
	font-family: PixelMplus10-Bold;
	src: url('../fonts/PixelMplus10-Bold.ttf') format("truetype");
}
html{
  font-size: 16px;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.0rem;
  font-family: PixelMplus10-Regular;
}
body{
  padding: 32px;
  line-height: 1.6;
  color: #565656;
  font-family: 'DotGothic16', sans-serif;
}
#wrapper{
  width: 800px;
}
#canvas{
  background-color: darkblue;
}
#input_name{
  padding: 10px 12px;
}
#send_button{
  border: none;
  outline: none;
  padding: 12px;
  background-color: #000;
  color: #fff;
  margin-left: 10px;
  border-radius: 4px;
}
#form{
  width: 800px;
  text-align: center;
  margin: 0 auto;
  display: none;
}
